# Test Custom Tags

Testing the custom tags defined in .projected-source.py

## Using accept_hook() tag

{{ accept_hook() }}

## Using state_hook() tag  

{{ state_hook() }}

## Using parameterized hook() tag

### hook('rollback')
{{ hook('rollback') }}

### hook('trace')
{{ hook('trace') }}

## Using uppercase filter
{{ "hello world" | uppercase }}