# Test Macro Definition Extraction

## Extract DEFINE_WASM_FUNCNARG definition

{{ code('examples/macro.h', macro_definition='DEFINE_WASM_FUNCNARG') }}

## Extract DEFINE_JS_FUNCTION definition

{{ code('examples/macro.h', macro_definition='DEFINE_JS_FUNCTION') }}

## Extract a simpler macro

{{ code('examples/macro.h', macro_definition='HALF_COUNT') }}